body {
  background-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  text-align: center;
}

h1,
h2,
h3,
p {
   color: white;
   font-weight: 300;
}

p {
    font-size: 1rem;
}

h1 {
    font-size: 3,125rem;
}

a {
   color: aquamarine;
}

h2 {
    opacity: 50%;
    font-size: 21px;
}

h3 {
    text-align: right;
    opacity: 50%;
}

.icon {
    padding-top: 1rem;
}


